*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Work Sans', sans-serif;
font-size: 16px;
}
ul li{
    list-style-type: none;
}
h1{
    font-weight:700;
    font-size:65px;
}
h2{
    font-weight:700;
    font-size:35px;
}
h3{
    font-weight:700;
    font-size:25px;
}
h4{
    font-weight:500;
    font-size:20px;
}
p{
    font-weight:40;
    font-size:16px;
}
.btn{
    font-weight:600;
    font-size:20px;
    padding:12px 25px;
    border:none;
    border-radius:5px;
}
.btn-orange{
    color: white;
    background-color:#F15B22;
}
.btn-white{
    background-color: white;
    color:#F15B22;
}
.container{
    width: 1140px;
    margin: auto;
}
.display-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.mt-10{
    margin-top:10px;
}
.mt-20{
    margin-top:20px;
}
.hero-content{
    width: 525px;
    text-align: right;
}
#hero-section{
    height: 100vh;
    background-image: url(../images/banner/banner2.png);
    background-position: center center;
    background-size: cover;
}
#failure-section{
    height:100vh;
}
.failure-flex-item{
    width: 45%;
}
.fa-check{
    color: #16D887;
}
#my-plans-section{
    text-align: center;
    height:50vh;
}
.my-plans-flex-item{
    width: 22%;
}
#cta-section{
    height: 60vh;
    color: #fff;
}
.bg-image{
    background-image:
    linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png");
    padding: 50px;
    border-radius: 8px;
}
.cta-content{
    width: 40%;
}
#contact-section{
    padding: 80px 0;

}
#contact-section .input-adjust{
    border-color: black;
}

footer{
    background-color: #151414;
    color: #fff;
    padding: 80px 0;

}
.display-flex-footer{
    display: flex;
}
.footer-flex-item-1{
width: 40%;
}
.footer-flex-item-2{
    width: 30%;
    }
    
.input-adjust{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}



 